<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <style>
    body {
      font-size: 22px;
    }

    input[type="text"] {
      margin: 10px 0;
      display: block;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <p>{{ fullName() }}</p>
    <p><a :href="url" target="_blank">Google</a></p>
    <p v-html="raw_url"></p>
    <p>{{ age }}</p>

    <hr>

    <label for="">First Name</label>
    <input type="text" v-model="firstName">

    <label for="">Middle Name</label>
    <input type="text" @keyup.enter="updateMiddleName">

    <label for="">Last Name</label>
    <input type="text" :value="lastName" @input="updateLastName">

    <label for="">Age</label>
    <input type="text" v-model="age">

    <button type="button" @click="age++">Increment</button>
    <button type="button" @click="decrement">Decrement</button>
  </div>

  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- JS Codes -->
  <script>
    const vm = Vue.createApp({
      data() {
        return {
          firstName: "Hoodad",
          middleName: "",
          lastName: "Wesker",
          url: "https://google.com",
          raw_url: '<a href="https://google.com" target="_blank">Google</a>',
          age: 29
        }
      },
      /* Return the full name */
      methods: {
        fullName() {
          return `${this.firstName} ${this.middleName} ${this.lastName.toUpperCase()}`
        },
        decrement() {
          this.age--
        },
        updateLastName(event) {
          this.lastName = event.target.value
        },
        updateMiddleName(event) {
          this.middleName = event.target.value
        }
      },
    }).mount("#app")

    /* Set Timeout */
    /* setTimeout(() => {
      vm.firstName = "Ali".toUpperCase()
    }, 2000); */
  </script>
</body>

</html>