<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Sandbox 3</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>
    <!-- Cart -->
    <div class="cart">Cart ({{ cart }})</div>

    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <!-- Image -->
          <img v-bind:src="image">
        </div>
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="inventory >= 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
          <p v-else>Out of Stock</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)"
            class="color-circle" :style="{ backgroundColor: variant.color }">
          </div>
          <!-- Add to Cart Button -->
          <button class="button" :disabled="!inventory" :class="{disabledButton: !inventory}" v-on:click="addToCart">Add
            to Cart</button>
          <button class="button" :disabled="!inventory" :class="{disabledButton: !inventory}"
            v-on:click="removeFromCart">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Import App -->
  <script>
    const app = Vue.createApp({
      data() {
        return {
          cart: 0,
          product: 'Socks',
          brand: "Hoodad's",
          image: "images/socks_green.jpg",
          inventory: 12,
          details: ["50% Cotton", "30% Wool", "20% Polyester"],
          variants: [
            { id: 2234, color: "green", image: "images/socks_green.jpg" },
            { id: 2235, color: "blue", image: "images/socks_blue.jpg" }
          ]
        }
      },
      methods: {
        addToCart() {
          this.cart += 1
        },
        removeFromCart() {
          this.cart -= 1
        },
        updateImage(variantImage) {
          this.image = variantImage
        }
      },
      computed: {
        title() {
          return this.brand + " " + this.product
        }
      }
    })
  </script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>